@use "./tokens";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  color: var(--color-text);
  background-color: var(--color-background);

  font-size: var(--font-size-md);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

:focus-visible {
  outline: 3px solid rgb(0 49 82 / 25%);
  outline-offset: 3px;
}